<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <application>
        <provider
            android:name=".TestDocumentsProvider"
            android:authorities="org.tzap.zmanager.mobile.test.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" />
    </application>
</manifest>
